html, body {
  margin: 0;
  background-image: url(https://www.3dtotal.com/admin/new_cropper/tutorial_content_images/243_tid_image001.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a3c0f5;
}
h1 {
  padding: .5em;
  margin: 0;
  text-align: center;
  color: white;
  font-family: 'Bowlby One', cursive;
  text-transform: uppercase;
}
.link {
  stroke: gray;
  stroke-width: .6px;
}
.node img {
  cursor: pointer;
  margin-bottom: 5.5px;
  margin-left: -8px;
}
@-moz-document url-prefix() {
  /*Fix of different dimensions of elements in Firefox*/
  .node img {
    margin-left: 0;
  }
}
