html, body {
  margin: 0;
}
h1 {
  padding: .5em;
  margin: 0;
  text-align: center;
  background: #1f292e;
  color: #a3c0f5;
  font-family: 'Merriweather', serif;
}
svg {
  background-color: #a3c0f5;
}
.link {
  stroke: gray;
  stroke-width: .6px;
}
.node img {
  cursor: pointer;
  margin-bottom: 5.5px;
  margin-left: -8px;
}
@-moz-document url-prefix() {
  /*Fix of different dimensions of elements in Firefox*/
  .node img {
    margin-left: 0;
  }
}
